body {
    background-image:url("../img/travel.jpg");
    margin: 0px;  
    padding: 0px;  
    
   }
   .wrap {
       display: flex;
       z-index: 1;
       background: white;
       width: 100%;
       position: fixed;
   }
   ul li{
       display: inline;
       padding-right: 20px;
       font-size: 20px;
       font-family: sans-serif;
   }
   .wrap ul li a{
       text-decoration: none;
       color: black;
       font-weight: bold;
   }
   .wrap ul li a:hover {
    color: #d2d2d2;
}
ul li{
    display: inline;
    padding-right: 20px;
    font-size: 20px;
    font-family: sans-serif;
}
.contact {
    border-block-end: black;
    border: 1px;
    border-block-end-color: black;
}
.check {
    position: absolute;
    top: 40%;
    left: 40%;
    border: 2px;
    box-shadow: 8px 8px 8px aliceblue;
}
.social {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.social ul {
    padding: 0 30px;
    background: white;
    width: 100%;
    padding: 0;
}
.social ul li{
    font-family: sans-serif;
    padding-right:100px;
}
.social ul li:first-child{
    padding-left: 38%;
}
@media(max-width:550px){
    .social ul li:first-child{
        padding-left: 20%;
    }
    .social ul li{
        padding-right:40px;
    }
    .social ul {
        padding: 0 30px;
        background: white;
        width: 100%;
        padding: 0;
    }
}